
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Encode+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Oswald:wght@300&family=Poppins:wght@300;400&family=Raleway:wght@200&family=Ubuntu:wght@300&display=swap');

nav {  width: 100%;  height: 150px; padding: 0.625rem 0;}
nav img {float: left; padding: 0.25em 1em; cursor: pointer; width:5%;}
nav ul { display: flex; justify-content: center; }
nav ul li {margin-right: 60px; }
nav ul li a {display: flex; align-items: center; justify-content: center; 
             cursor: pointer; 
             border: 3px solid;
            padding: 0.25em 1em;
            box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
            position: relative;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            text-transform: uppercase;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            letter-spacing: 2px;
            text-decoration: none;

            }
nav ul li a :active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
nav ul li a{transition: 0.3s; background-color: white;}
nav ul li a:hover { background-color: #e9c2db;}




.main { width: 100%; min-height: calc(100vh-150px); text-align: center; max-width:200%;}
.main p {display: flex; justify-content: center; padding-top: 8rem; margin-top: 0;}
.main p h1 { font-size: 3.25rem; color: #e9c2db; padding: 1rem 1.875rem; 
            font-family: "Open Sans"; text-transform: uppercase; 
            display: inline-block; letter-spacing: 0.3125rem;
            text-shadow: 0.15rem 0.15rem 0 #000, 
                -0.25rem 0 0 #000,
                0.4375rem 0.25rem 0 #fff;;
                margin-bottom: 0;
}
.main p h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem; color: #3070a4;
  margin-top: 0;

}
.main p span {
  display: block;
  width: 348px;
  padding-left: 50px;
}
.main p img {
  width: 15%;
}

.education { min-height:100vh; display: flex; justify-content: center; align-items: center; background: rgb(185, 255, 232);;}
/* .education:hover{
  -webkit-animation:bounce-top 1.5s both;animation:bounce-top 1.5s both
  } */

.education h2 {font-size: 3.8rem; text-align: center; text-transform: uppercase; 
  font-family: "Open Sans";;
              position: relative; margin: 0; padding-bottom: 20px;}

.education article {
  width: 100%;
  margin: auto;
}

.education span:hover{
  -webkit-animation:bounce-top 1.5s both;animation:bounce-top 1.5s both
  }


.education span {font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border: 0.2rem solid;
    display: flex; align-items: center; justify-content: center; 
    padding: 3em 5em;
    box-shadow: 0.625rem 0.625rem 0rem 0rem, 0.688rem 0.688rem 0rem 0rem, 0.75rem 0.75rem 0rem 0rem, 0.813rem 0.813rem 0rem 0rem, 0.813rem 0.813rem 0rem 0rem;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background: white;
    max-width:100%;
    margin-top: 0;
    margin-bottom: 100px;
  }


  .education p {
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
    font-family: 'Ubuntu', sans-serif;
  }
  .education img {
    padding-top: 25px;
    padding-right: 5rem;
    max-width:100%;
    width: 14.75rem;
  }
  
  .edubox:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }




  @media (max-width:1200px){
    nav img {
      display: flex;
      justify-content: center;
      margin: auto;
      width: 100px;
      float: none;
      
    }
    nav ul {
      justify-content: center;
    }
    nav ul li a {
      border: 1px solid;
      font-size: 15px;
  
    }

  }
  
  @media (min-width: 400px) and (max-width: 1199px){
    nav ul li {
      margin-right: 30px;
    }
    nav ul li a {
      border: 1px solid;
      font-size: 14px;
  
    }

    .main h1 {
      font-size: 450%;
      display: block;
    }

    .main p img {
      display: flex;
      justify-content: center;
      margin: auto;
      width: 100px;
      float: none;
    }

    .education {
    }

    .education img {
      width: 40%;
    }

    .education h2 {
      font-size: 300%;
      width: 100%; 
      display: flex; align-items: center; justify-content: center; 
      right: 0; 
      bottom: 0; 
      background-color: none; 
      z-index: 1
      
    }

    .education span {
      font-size: 40%;
      box-shadow: 150%;
    }
    

    
  
  }
  /* ----------------------------------------------
 * Generated by Animista on 2022-12-12 15:14:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}@keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}
